---
title: Blog
tags:
    - navitem
    - page
o: 1
slug: ""
canonical: https://hayden.gg/blog/
---

{% headers "Blog", "things I'm working on or find cool"%}

<ul>
    {% for post in collections.post | sortByDate %}
        <li>
            <a href="{{ post.url | urlPrefix | url }}">{{ post.data.title }}</a>
            <p class="text-sm">{{post.date | postDate}}</p>
        </li>
    {% endfor %}
</ul>