---
layout: base
title: Blog
tags:
    - navitem
    - page
o: 1
---

{% headers "Blog", "about all kinds of stupid things like cs"%}

<ul>
    {% for post in collections.post %}
        <li>
            <a href="{{ post.url | urlPrefix | url }}">{{ post.data.title }}</a>
            <p class="text-sm">{{post.date | postDate}}</p>
        </li>
    {% endfor %}
</ul>