<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;1,6..12,200;1,6..12,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | urlPrefix | url }}">
        <link rel="stylesheet" href="{{ 'assets/css/tailwind.css' | urlPrefix | url }}">
        <link rel="stylesheet" href="{{ 'assets/css/themes/prism-material-dark.css' | urlPrefix | url }}"/>
        <meta name="description" content="
            {% if description %}
                {{description}}
            {% else %}
                {{site.description}}
            {% endif %}
        "/>
        <title>
            {% if tags | has_tag(tags, "page") %}
                Hayden Carpenter | 
            {% endif %}
            {{title}}
        </title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GNKRNQ5K23"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-GNKRNQ5K23');
        </script>
        {% if canonical %}
            <link rel="canonical" href={{ canonical }} />
        {% elif slug %}
            <link rel="canonical" href="https://hayden.gg/blog/{{ slug | slugify | url }}/" />
        {% endif %}
    </head>
    <body>
        {% include "partials/_navigation.njk" %}
        <main>
            {{content | safe}}
        </main>
    </body>
</html>