<nav>
    {% set sortedNavItems = collections.navitem | sort(attribute='data.order') %}
    {% for item in sortedNavItems %}
        <a href="{{ item.url | urlPrefix | url }}">{{ item.data.title }}</a>
    {% endfor %}
</nav>