{% set previous = collections.post | sortByDate | getPreviousCollectionItem(page) %}
{% set next = collections.post | sortByDate | getNextCollectionItem(page) %}
<div class="py-6">
    {% if previous %}
        Previous: <a href="{{ previous.url | urlPrefix | url }}">{{ previous.data.title }}</a>
    {% endif %}
    {% if previous and next %}
    <br>
    {% endif %}
    {% if next %}
        Next: <a href="{{ next.url | urlPrefix | url }}">{{ next.data.title }}</a>
    {% endif %}
</div>